<h1>All recipes</h1>
<% @recipes.each_slice(3) do |three_recipes| %>
  <div class="row">
    <% three_recipes.each do |recipe| %>
      <div class="col-md-4">
        <div class="well">
          <h2><a href="/recipes/<%= recipe.id %>"><%= recipe.title %></a></h2>
          <h3><%= recipe.chef %></h3>
          <img src="<%= recipe.image %>" alt="">
          <h4><%= recipe.ingredients %></h4>
          <h4><%= recipe.directions %></h4>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
